.goods {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;
  overflow: auto;

  &__title {
    @include title-settings;
    margin: 0 0 24px;
    padding: 0;

    @media screen and (max-width: 650px) {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 5px;
    }
  }

  &__card {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 24px;
    position: relative;

    @media screen and (max-width: 650px) {
      padding-bottom: 5px;
    }
  }

  &__card-container {
    max-width: 1440px;
    height: 400px;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 326px;
    padding: 0;
    list-style: none;
    z-index: 0;
  }

  &__buy-button {
    height: 40px;
    width: 116px;
    background-image: url(../images/buy-button.svg);
    background-color: transparent;
    border: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 650px) {
      max-width: 286px;
      padding-right: 280px;
      background-image: url(../images/buy-button-big.svg);
      background-repeat: no-repeat;
    }
  }


  &__swipe-right {
    height: 40px;
    width: 40px;
    background-image: url(../images/arrow-right.svg);
    background-color: transparent;
    border: none;
    position: absolute;
    background-repeat: no-repeat;
    padding: 20px;
    top: 300px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 650px) {
      top: 242px;
    }
  }


  &__swipe-left {
    height: 40px;
    width: 40px;
    background-image: url(../images/arrow-left.svg);
    background-color: transparent;
    border: none;
    position: absolute;
    background-repeat: no-repeat;
    padding: 20px;
    top: 300px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;

    &:hover {
      opacity: 0.8;
    }

    @media screen and (max-width: 650px) {
      top: 242px;
    }
  }


  &__card::-webkit-scrollbar {
    height: 4px;
  }

  &__card::-webkit-scrollbar-button {
    width: 10px;
  }

  &__card::-webkit-scrollbar-track {
    background-color: #292929;
    border-radius: 100px;
    margin: 20px;
  }

  &__card::-webkit-scrollbar-thumb {
    background-color: #ebebeb;
    border-radius: 100px;
  }

  &__card-item {
    position: relative;
    object-fit: contain;
  }

  &__card-image {
    position: relative;
    object-fit: cover;
  }

  &__paragraph {
    text-align: start;
    @include paragraph-settings;
    max-width: 690px;
    margin: 0;
    padding: 0 20px 0 0;

    @media screen and (max-width: 780px) {
      max-width: 383px;
    }

    @media screen and (max-width: 650px) {
      padding: 0;
      max-width: 280px;
      text-align: start;
      margin: 0 auto;
    }
  }

  &__text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: $max 0 $max;

    @media screen and (max-width: 650px) {
      display: inline-block;
      box-sizing: border-box;
      padding: $mid $min;
      margin: 0 auto;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }
}