.goods {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    position: relative;
    overflow: auto;

    &__title {
        @include title-settings;
        margin: 0 0 24px;
        padding: 0;
    }

    &__card {
        display: block;
        width: 100%;
        overflow-x: scroll;
        padding-bottom: 24px;
        position: relative;
    }

    &__card-container {
        max-width: 1440px;
        height: 400px;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 326px;
        padding: 0;
        list-style: none;
        z-index: 0;
    }

    &__buy-button {
        height: 40px;
        width: 116px;
        background-image: url(../images/buy-button.svg);
        background-color: transparent;
        border: none;
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 1;
        cursor: pointer;
        transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;

        &:hover {
          opacity: 0.8;
        }
    }


    &__swipe-right {
        height: 40px;
        width: 40px;
        background-image: url(../images/arrow-right.svg);
        background-color: transparent;
        border: none;
        position: absolute;
        background-repeat: no-repeat;
        padding: 20px;
        top: 300px;
        right: 20px;
        z-index: 1;
        cursor: pointer;
        transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;

        &:hover {
          opacity: 0.8;
        }
    }



    &__swipe-left {
        height: 40px;
        width: 40px;
        background-image: url(../images/arrow-left.svg);
        background-color: transparent;
        border: none;
        position: absolute;
        background-repeat: no-repeat;
        padding: 20px;
        top: 300px;
        left: 20px;
        z-index: 1;
        cursor: pointer;
        transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;

        &:hover {
          opacity: 0.8;
        }
    }


    &__card::-webkit-scrollbar {
        height: 4px;
    }

    &__card::-webkit-scrollbar-button {
        width: 10px;
    }

    &__card::-webkit-scrollbar-track {
        background-color: #292929;
        border-radius: 100px;
        margin: 20px;
    }

    &__card::-webkit-scrollbar-thumb {
        background-color: #ebebeb;
        border-radius: 100px;
    }

    &__card-item {
        position: relative;
        object-fit: contain;
    }

    &__card-image {
        position: relative;
        object-fit: cover;
    }

    &__paragraph {
        text-align: start;
        @include paragraph-settings;
        max-width: 690px;
        margin: 0;
        padding: 0 20px 0 0;
    }

    &__text {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: $max 0 $max;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }
}

// //////////////////////////////////////////////////////////адаптив tablet
@media screen and (max-width: 1200px) {
    .goods {
        &__paragraph {
            max-width: 359px;
        }
    }
}

// //////////////////////////////////////////////////////////адаптив mobile
@media screen and (max-width: 750px) {
    .goods {
        &__card {
            padding: 0 0 8px;
        }

        &__title {
            padding: 0 0 8px;
            font-size: 32px;
            line-height: 40px;
        }

        &__swipe-left {
            top: 265px;
        }

        &__swipe-right {
            top: 265px;
        }

        &__buy-button {
            max-width: 286px;
            padding-right: 280px;
            background-image: url(../images/buy-button-big.svg);
            background-repeat: no-repeat;
        }

        &__paragraph {
            padding: 0;
            max-width: 280px;
            text-align: start;
            margin: 0 auto;
        }

        &__text {
            display: inline-block;
            box-sizing: border-box;
            padding: $mid $min;
            margin: 0 auto;
        }
    }
}
